@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(2, 16, 29);
  text-align: center;
  color: rgb(247, 225, 33);
  margin: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

h1{
  font-size: 43px;
}

#myCanvas {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTZjMDliOTUyczFkM2pjcjdpb2Z2bzNydXhvYjNrd3djdGdsbXd2eDhhaWFsM2N0dSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/JNy7DzgqUnh9p93aru/giphy.gif");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(15, 13, 13);
}



